*{
    box-sizing: border-box;
}
body,span{
    margin:0;
    padding:0;
}
ul,li,a,img,h1,h2,h3,h4,h5,h6,input{
    text-decoration: none;
    list-style:none;
    margin:0;
    padding:0;
    border:0;
    outline:none;
    text-shadow: none;
    box-shadow: none;
}